
header {
    background-color: rgba(0, 0, 0, 0.836);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    margin-left: 100px;
}

#navimg {
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section2img {
    margin-left: 15px;
    margin-right: 15px;
}

.section-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* justify-content: space-between; */
}

.section-container h2 {
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 30px;
}

.section-container p {
    margin-left: 30px;
    font-size: 15px;
    line-height: 20px;
    overflow-y: scroll;
}

.button {
    width: 50%;
    height: 10%;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
}
.button:hover {
    background-color: rgba(0, 0, 255, 0.329);
    transition: 350ms;
}


footer {
    max-width: 960px;
    height: 100px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.295);
    margin-bottom: 10px;
    
}